# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


*node_modules
node_modules
/client/node_modules
.env
config/keys.js
back-end/config/keys.js
/config/optPasconfig.js

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js
node_modules/
node_modules
.pnp
.pnp.js
# testing
/client/coverage
coverage

# production
build
back-end/config/keys.js


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#media
raw_images

#testing
cypress
cypress.json